<header class="page-header">
  <div class="header-block-container">
    <h1>Write Review</h1>
    <% if current_user.present? %>
    	<%= link_to '+ New Review', new_review_path, class: 'button-white' %>
    <% end %>
  </div>
</header>

<div class="form=header-block-container">
  <div class="card">
    <%= render 'form', review: @review %>
  </div>
</div>
